[submodule "plugins/Cardinal/Rack"]
	path = src/Rack
	url = https://github.com/VCVRack/Rack.git
[submodule "dpf"]
	path = dpf
	url = https://github.com/DISTRHO/DPF.git
[submodule "plugins/Befaco"]
	path = plugins/Befaco
	url = https://github.com/VCVRack/Befaco.git
[submodule "plugins/BogaudioModules"]
	path = plugins/BogaudioModules
	url = https://github.com/bogaudio/BogaudioModules.git
[submodule "carla"]
	path = carla
	url = https://github.com/falkTX/Carla.git
[submodule "deps/PawPaw"]
	path = deps/PawPaw
	url = https://github.com/DISTRHO/PawPaw.git
[submodule "plugins/Fundamental"]
	path = plugins/Fundamental
	url = https://github.com/CardinalModules/Fundamental.git
[submodule "plugins/unless_modules"]
	path = plugins/unless_modules
	url = https://gitlab.com/unlessgames/unless_modules.git
[submodule "plugins/h4n4-modules"]
	path = plugins/h4n4-modules
	url = https://github.com/hannakoppelaar/h4n4-modules.git
[submodule "plugins/surgext"]
	path = plugins/surgext
	url = https://github.com/surge-synthesizer/surge-rack.git
[submodule "deps/QuickJS"]
	path = deps/QuickJS
	url = https://github.com/JerrySievert/QuickJS.git
[submodule "plugins/Cardinal/src/AIDA-X/RTNeural"]
	path = plugins/Cardinal/src/AIDA-X/RTNeural
	url = https://github.com/jatinchowdhury18/RTNeural.git

